<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="d-flex flex-column h-100">
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">AskKraynikov</a>
            <div class="search">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <a class="btn btn-success" href="/ask" role="button">ASK!</a>
            </div>
            {% if user.is_authenticated %}
            <div class="user">
                <img class="avatar" src={{ user.profile.avatar.url }} alt="avatar">
                <a class="name" href="/ask">{{ user.username }}</a>
                <a class="settings" href="/settings">Settings</a>
                <a class="login" href="/login">Log Out</a>
            </div>
            {% else %}
            <div class="user">
                <a class="login" href="/login">Log In</a>
            </div>
            {% endif %}
        </div>
    </nav>
</header>
{% block content %}
{% endblock %}
</body>
</html>